.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 24px auto;
  list-style: none;
  max-width: 1128px;
}
.gallery-item {
  flex: 0 1 360px;
}

.gallery-link {
  cursor: pointer;
  display: block;
  height: 200px;
  overflow: hidden;
}

.gallery-link img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery-item :hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.gallery-image {
  width: 1112px;
  height: 600px;
}
